body {
    margin: 0 auto;
    padding: 0;
    line-height: 1.4;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
    font-size: 16px;
}

a i {
    font-size: 14px;
}

.header {
    background-color: #264eae;
    height: 73px;
}

.header>.inner {
    display: block;
    width: 1260px;
    margin-right: auto;
    margin-left: auto;
}

.header .h-name a {
    float: left;
    font-size: 20px;
    margin-left: 32px;
    padding: 22px 0;
    color: #FFFFFF;
    width: auto;
    height: auto;
    text-decoration: none;
}

.h-logo img {
    float: left;
    display: block;
    margin-right: 0;
    padding-top: 21px;
    padding-bottom: 11px;
    margin-left: 16px;
    width: 300px;
}

.header .h-search {
    float: right;
    padding: 18px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.header .h-search form {
    background: #2f58c0;
    border-radius: 16px;
    margin: 0 16px;
    width: 278px;
    height: 37px;
    /*padding-right: 15px;*/
}

.header .h-search input {
    background: transparent;
    border-radius: 16px;
    width: 222px;
    height: 21px;
    border: none;
    font-size: 16px;
    font-family: "Segoe UI", helvetica, arial, sans-serif;
    color: black;
    padding: 8px 0 8px 16px;
    outline: none;
}

.header .h-search form:active {
    background-color: #FFFFFF;
}

.header .h-search input:active {
    background-color: #FFFFFF;
}

.header .h-search form input::-webkit-input-placeholder
{
    color: #ddd;
}
.header .h-search form input::-moz-placeholder
{
    color: #ddd;
}
.header .h-search form input:-ms-input-placeholder
{
    color: #ddd;
}
.header .h-search form input:-moz-placeholder
{
    color: #ddd;
}

.header .h-search button {
    cursor: pointer;
    padding: 8px 8px 4px;
    margin-top: 2px;
}

.icon-search {
    position: absolute;
    outline: none;
    padding-right: 15px;
    background-color: transparent;
    border: none;
    color: #dddddd;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.icon-search:active {
    color: #747474;
}

.nav {
    position: absolute;
    top: 73px;
    left: 0;
    background-color: #2f58c0;
    width: 100%;
    min-width: 1260px;
    height: 54px;
}

.nav>.inner {
    /*display: flex;*/
    overflow: hidden;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.nav>.inner .n-left {
    display: block;
    float: left;
}


.nav div.sep{
    display: inline-block;
    padding: 5.33333px 0;
    width: 1px;
    background: #2b51b0;
}

.nav>.inner .n-right {
    display: block;
    float: right;
    vertical-align: middle;
    white-space: nowrap;
}

.nav a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 16px;
}

.nav a:hover {
    background-color: #2d55b8;
}

.intro {
    position: absolute;
    top: 127px;
    left: 0;
    display: block;
    height: 500px;
    width: 100%;
    min-width: 1260px;
    background: no-repeat url("background.png") #333 center;
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 32px;
}

.i-title {
    font-size: 64px;
    color: #FFFFFF;
    text-align: center;
    padding: 32px;
}

.i-text {
    display: block;
    width: 1228px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 16px;
    margin: auto;
}

.br {
    width: 100%;
    height: 1px;
    margin: 16px 0;
}

.links {
    text-align: center;
    margin-top: 32px;
}

.intro .links a {
    font-family: "Segoe UI",helvetica,arial,sans-serif;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 16px;
    margin: 16px;
    font-size: 16px;
    width: 245px;
    height: 118px;
    font-weight: 600;
    border-radius: 4px;
}

.intro .links a:hover {
    /*background: url("linksbg.png");*/
    background-color: rgba(0,0,0,0.2);
}
.links i {
    padding: 0 78px 15px;
    /*font-family: "Segoe UI",helvetica,arial,sans-serif;*/
    /*font-size: 16px;*/
}